*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.project
.idea/caches/build_file_checksums.ser
.settings/org.eclipse.buildship.core.prefs
app/.classpath
