<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thm.hoangminh.multimediamarket">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.activity.MainActivity" />
        <activity android:name=".view.activity.SigninActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.RegisterActivity" />
        <activity android:name=".view.activity.ProductActivity" />
        <activity
            android:name=".view.activity.ProductDetailActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".view.activity.RechargeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.activity.RechargeHistoryActivity" />
        <activity android:name=".view.activity.RatingActivity" />
        <activity android:name=".view.activity.ProfileActivity" />
        <activity
            android:name=".view.fragment.ModifyProductFragment"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.activity.BookmarkActivity" />
        <activity android:name=".view.activity.ModifyProductActivity" />
        <activity
            android:name=".view.activity.UpdateProductActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".view.activity.UserActivity" />
        <activity android:name=".view.activity.CardActivity" />
        <activity android:name=".view.activity.ModifyCardActivity"
            android:windowSoftInputMode="stateHidden" />
    </application>

</manifest>